@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  h1 {
    @apply text-indent my-6;
  }
  h2 {
    @apply text-indent my-6;
  }
  h3 {
    @apply text-indent my-6;
  }
  h4 {
    @apply text-indent my-6;
  }
  /* p {
    @apply text-indent text-justify;
  } */

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    @apply my-4;
  }
  li {
    @apply my-2;
  }
}
.text-indent {
  text-indent: 1.5rem;
}
